# website-control-fpga-via-raspi-and-webserver-.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# EXTENSION - SFTP SECRETS
.vscode/
sftp.json

# BINARIES
**/bin/control-fpga-via-raspi-and-webserver

# BINARY USED FOR DOCKER BUILD
**/build/control-fpga-via-raspi-and-webserver

# TEST COVERAGE
**/test/test_coverage.txt
