# control-fpga-via-raspi-and-webserver task-build-push.yml

platform: linux

# DOCKER BASE IMAGE FOR TASKS (BASED ON ALPINE, A SMALLER LINUX DISTRIBUTION)
image_resource:
  type: docker-image
  source:
    repository: amidos/dcind

inputs:
  - name: control-fpga-via-raspi-and-webserver

outputs:
  - name: dist

run:
  path: ./control-fpga-via-raspi-and-webserver/ci/scripts/build-push.sh
  args:
   - -exc
   - |
     source /docker-lib.sh
     start_docker
     docker ps
     echo "docker started !!!!!!"
